{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    "inferno-app"
  ],

  "plugins": [["babel-plugin-inferno", { "imports": true }], "transform-class-properties"],

  "env": {
    "production": {
      "presets": [
        ["env", { "modules": false }],
        "stage-2",
        "inferno-app"
      ]
    },
    
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", ">1%"]
            }
          }
        ]
      ]
    }
  }
}
