.AdvancedCard {
  position: relative;
  display: block;
  max-width: 50rem;
  background-color: var(--light);
  margin: 0 auto;
  padding: 0.3rem;

  img {
    width: 100%;
  }

  .media-body {
    color: var(--dark);
    margin: 0 auto 0 0;
    text-align: left;
    padding: 0.5rem 0.2rem;
  }
}

.RecipeModal.modal-dialog {
  max-width: 50rem;


  .InfernoFormlib-ListFieldRow {
    display: flex;
  }

  .form-group {
    flex-grow: 1;
  }

  .InfernoFormlib-ListFieldRowDeleteBtnWrapper {
    margin-left: 1rem;
  }
}

.ImageField .card-footer {
  background-color: transparent;
  border-top: none;
}