.ImageCard {
  position: relative;
  display: inline-block;

  img {
    width: 100%;
  }

  .media-body {
    color: var(--dark);
    font-size: 1.25rem;
  }
}

.ImageCardModal.modal-dialog {
  max-width: 50rem;
}